APP_ENV=dev
APP_SECRET=CHANGE_ME
DEFAULT_URI=http://localhost

DATABASE_URL="mysql://root:CHANGE_ME@localhost:3306/reservas_api_db?serverVersion=8.0&charset=utf8mb4"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=smtp://api:CHANGE_ME@live.smtp.mailtrap.io:587?encryption=tls

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=CHANGE_ME

MERCURE_URL=http://localhost:3000/.well-known/mercure
MERCURE_PUBLIC_URL=http://localhost:3000/.well-known/mercure
MERCURE_JWT_SECRET=CHANGE_ME
MERCURE_PUBLISHER_JWT_KEY=CHANGE_ME
MERCURE_SUBSCRIBER_JWT_KEY=CHANGE_ME
CORS_ALLOWED_ORIGINS=http://localhost
SERVER_NAME=:3000
